body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.card-container {
    margin: 40px auto;
    width: 80vw;
    height: auto;
    perspective: 1000px; /* Enables 3D effect */
    cursor: pointer;
}

#card {
    width: 100%;
    position: relative;
    transform-style: preserve-3d; /* Keeps front and inside separate */
}

#card-front:hover, #card-inside:hover {
    box-shadow: 20px 40px 60px rgb(190, 190, 190);
}

#card-front, #card-inside {
    position: absolute;
    top: 0;
    left: -50;
    width: 100%;
    backface-visibility: hidden; /* Prevents mirroring */
}

img {
    width: 100%;
    height: auto;
}

#card-front {
    transform: rotateY(0deg);
}

#card-inside {
    transform: rotateY(180deg); /* Ensures the inside is hidden until flip */
}

@media (min-width: 768px) {
    .card-container {
        width: 30vw;
    }
}

@media (min-width: 1440) {
    .card-container {
        width: 50vw;
    }
}